<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <display-name>Archetype Created Web Application</display-name>
     
    <!--             servlet 1                  -->
    <!--                               -->
     <servlet>
        <servlet-name>servlet1</servlet-name>
        <servlet-class>twitterPackage.FavoritesAPIServlet</servlet-class>
    </servlet> 
    <servlet-mapping>
        <servlet-name>servlet1</servlet-name>
        <url-pattern>/favorites</url-pattern>
    </servlet-mapping>
   
    <!--               servlet 2                -->
    <!--                               -->
     <servlet>
        <servlet-name>servlet2</servlet-name>
        <servlet-class>twitterPackage.FollowersAPIServlet</servlet-class>
    </servlet> 
    <servlet-mapping>
        <servlet-name>servlet2</servlet-name>
        <url-pattern>/followers</url-pattern>
    </servlet-mapping>
    
    <!--              servlet 3                 -->
    <!--                               -->
     <servlet>
        <servlet-name>servlet3</servlet-name>
        <servlet-class>twitterPackage.FollowingAPIServlet</servlet-class>
    </servlet> 
    <servlet-mapping>
        <servlet-name>servlet3</servlet-name>
        <url-pattern>/following</url-pattern>
    </servlet-mapping>
    
    <!--            servlet 4                   -->
    <!--                               -->
     <servlet>
        <servlet-name>servlet4</servlet-name>
        <servlet-class>twitterPackage.SearchTweetsAPIServlet</servlet-class>
    </servlet> 
    <servlet-mapping>
        <servlet-name>servlet4</servlet-name>
        <url-pattern>/searchtweets</url-pattern>
    </servlet-mapping>
    
    <!--             servlet 5                  -->
    <!--                               -->
    <servlet>
        <servlet-name>servlet5</servlet-name>
        <servlet-class>twitterPackage.suggestionAPIServlet</servlet-class>
    </servlet> 
    <servlet-mapping>
        <servlet-name>servlet5</servlet-name>
        <url-pattern>/suggestion</url-pattern>
    </servlet-mapping>
    
    <!--        servlet 6                       -->
    <!--                               -->
    <servlet>
        <servlet-name>servlet6</servlet-name>
        <servlet-class>twitterPackage.TimelineAPIServlet</servlet-class>
    </servlet> 
    <servlet-mapping>
        <servlet-name>servlet6</servlet-name>
        <url-pattern>/timelinetweets</url-pattern>
    </servlet-mapping>
    
    <!--              servlet 7                 -->
    <!--                               -->
    <servlet>
        <servlet-name>servlet7</servlet-name>
        <servlet-class>twitterPackage.TrendingAPIServlet</servlet-class>
    </servlet> 
    <servlet-mapping>
        <servlet-name>servlet7</servlet-name>
        <url-pattern>/trendingtweets</url-pattern>
    </servlet-mapping>
    
    <!--         servlet 8                      -->
    <!--                               -->
    <servlet>
        <servlet-name>servlet8</servlet-name>
        <servlet-class>twitterPackage.RetweetsAPIServlet</servlet-class>
    </servlet> 
    <servlet-mapping>
        <servlet-name>servlet8</servlet-name>
        <url-pattern>/retweets</url-pattern>
    </servlet-mapping>
    
</web-app>

