<html>
<body>

<h1>SE172-SP18: HW1 - Anside Demo</h1>
<h2 style="color: #0000FF">Team Cloud 4</h2>
<h3>Hello The World from:</h3>
<ul>
  <li>Cameron Chien - Team leader
  <li>Jie Peng Hu
  <li>Quang Duy Luong
  <li>Ibrahim Ibrahim
</ul>

</body>
</html>
